<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="/public/css/main.css" />

    <script
      type="module"
      src="/public/js/dashboard.js"></script>
  </head>
  <body>
    <div
      id="root"
      class="dashboard">
      <%- include('../partials/header') %>
      <h1>Dashboard</h1>

      <a
        href="/dashboard/newpost"
        class="button primary"
        >NewPost</a
      >
      <!-- 
      <section>
        <div
          class="cardsingle"
          v-for="post in posts"
          :key="posts.id">
          <span> {{ post.title }}</span> <a href="#">DELETE</a> | <a href="#">Edit</a>
        </div>
      </section> -->

      <section id="listall">
        <% for (let post of allposts) { %>

        <div>
          <span>[<%= post.id %>] <a href="/post/<%= post.slug %>"><%= post.title %></a> </span>
          <span><%= post.published ? 'published✅' : 'private❌' %></span>
          <span class="buttons">
            <a
              href="/dashboard/edit/<%= post.slug %>"
              class="button secondary"
              >Edit</a
            >
            <button
              class="button danger"
              data-slug=""
              @click="handlerDelete('<%= post.slug %>')">
              DELETE
            </button>
          </span>
        </div>
        <% } %>
      </section>
    </div>
  </body>
</html>
