<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>

    <link
      rel="stylesheet"
      href="/public/css/newpost.css" />

    <link
      rel="stylesheet"
      href="/public/css/header.css" />

    <script
      src="/public/js/editPost.js"
      type="module"></script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <section class="title">
      <h1>Edit post</h1>
    </section>

    <div id="root">
      <section>
        <form
          action=""
          @submit.prevent="submitHandler">
          <div>
            CreatedAt:
            <input
              type="text"
              value="<%- single.createdAt %>"
              disabled />
          </div>
          <div>
            Title:
            <input
              type="text"
              ref="titleRef"            
              value="<%- single.title %>"
              placeholder="title" />
          </div>

          <div>
            slug:
            <input
              type="text"
              ref="slugPostRef"
              data-slug="<%- single.slug %>"
              value="<%- single.slug %>"            
              disabled />
          </div>

          <textarea
          ref="articleRef"
            cols="30"
            rows="10"
            value="<%- single.article %>"
            placeholder="article"></textarea>
          <div class="category">
            <p
              ref="catBackend"
              data-cat="<%- single.category %>"></p>

            <label for="cat">Category:</label>
            <select
              id="cat"
              ref="catRef"
              v-model="selectedCategory">
              <option value="android">Android</option>
              <option value="windows">Windows</option>
              <option value="music">Music</option>
              <option value="network">network</option>
              <option value="gmapdev">Gmapdev</option>
              <option value="uncategorized">uncategorized</option>
            </select>
          </div>

          <div>
            Author:
            <input
              ref="authorRef"
              type="text"
              value="<%- single.author %>"
              placeholder="author" />
          </div>

          <div>
            Vuecomponent:
            <input
              type="text"
              ref="vuecompoRef"
              value="<%- single.vuecomponent %>"
              placeholder="vcomponent" />
          </div>

          <div>
            <input type="checkbox" name="published" id="published"
            ref="publishedRef" <%- single.published ? 'checked' : '' %> />

            <label for="published">published</label>
          </div>
          <button>Create</button>

          <div>
            {{ serverresponse }}
          </div>
        </form>
      </section>

      <%= // JSON.stringify(single) %>

      <button @click="test()">test</button>
    </div>
  </body>
</html>
