<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="/public/css/main.css" />
    <script
      type="module"
      src="/public/js/dashboard.js"></script>
      <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <div
      id="root"
      class="dashboard">
      <h1>Dashboard</h1>

     <div class="menu">
      <a
      href="/dashboard/newpost"
      class="button primary"
      >NewPost</a
    >

    <form
      id="searchPosts"
      @submit.prevent="filterPosts"
      class="search">
      <input
        type="text"
        v-model="searchTerm"
        placeholder="search posts" />
      <button>Search</button>
      <input type="reset" value="clear">
    </form>
     </div>
   <!--    <h2>
        <% var filteredPosts = allposts.filter(post => post.title.includes('Burnout')); %> <% filteredPosts.forEach(post => { %>
        <div>
          <h2><%= post.title %></h2>
          <p><%= post.content %></p>
        </div>
        <% }); %>
      </h2> -->

      <section id="listall">
        <div class="header">
          <!--  <h2>Post:</h2>
        <h2>Category:</h2>
        <h2>Actions:</h2> -->
          <!-- 
        <%= JSON.stringify(allposts) %> -->
        </div>
        <% const reversedAllPosts = allposts.map(post => post) %> <% for (let post of reversedAllPosts) { %>
        <div class="single">
          <span>
            <h4 class="post_title"><a href="/post/<%= post.slug %>"><%= post.title %></a></h4>
            <!--  <p>ID: [<%= post.id %>]</p> -->
            <p>Created: <%= post.createdAt %></p>
            <p>lastUpdate: <%= post.lastUpdate %></p>
          </span>
          <div>
            <span class="button primary"><%= post.category %></span>
          </div>
          <span class="buttons">
            <span><%= post.published ? 'published✅' : 'private❌' %></span>
            <a
              href="/dashboard/edit/<%= post.slug %>"
              class="button secondary"
              >Edit</a
            >
            <button
              class="button danger"
              data-slug=""
              @click="handlerDelete('<%= post.slug %>')">
              DELETE
            </button>
          </span>
        </div>
        <% } %>
      </section>
      <p data-baseurl="<%= BASEURL %>"></p>
    </div>
  </body>
</html>
